@{
    ViewData["Title"] = "MainPage";
}

<style>
    body {
        background-color: #1F1F1F;
        color: #FFFFFF; /* Колір тексту */
    }

    .text-center {
        text-align: center;
    }

    .display-4 {
        font-size: 2.5rem; /* Розмір шрифту для заголовка */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Description changed!</h1>
</div>
